logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

.tscache/
node_modules/
public/javascripts/*
public/partialviews/
typescript/partialviews/**/*.html.ts
typescript/**/*.js
typescript/**/*.js.map
